# Build output
target/
**/target/

# Ignore everything in codespace
codespace/*

# BUT keep the real Maven project
!codespace/my-app/
!codespace/my-app/**

# Docker / temp junk
=
CACHED
[build
[internal]
[stage-1
transferring

# Archives
*.zip

# Editor
.vscode/
